<div ng-include="'partials/navbar'"></div>

<div class="container">
  <h3 class="text-info">
    Welcome to the StoreFront
  </h3>
  <div class="form-group">
    <label for="exampleInputEmail1">Product Search:</label>
    <input class="form-control" placeholder="Search..." ng-model="search">
  </div>

  <table class="table table-bordered">

  <tr class="well">
    <td class="tdRight" colspan="4" >
      <a href="/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
        <i class="glyphicon glyphicon-shopping-cart" />
        <b>{{cart.getTotalCount()}}</b> items,
        <b>{{cart.getTotalPrice() | currency:"£"}}</b>
      </a>
    </td>
  </tr>

  <tr>
    <td colspan="4">
      <div style="margin-top:10px;">    
        <div class="form-group" ng-repeat="product in store.products | orderBy:'name' | filter:search:name">
            <div class="col-xs-12 col-md-6" style="height: 503px;">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <a ng-href="/products/{{ product.id }}"><img ng-src="/images/products/{{ product.id }}.jpg" width="409" height="265" class="panel-image-preview" /></a>
                    </div>
                    <div class="panel-body" >
                        <a ng-href="/products/{{ product.id }}"><h4>{{ product.name }}</h4></a>
                        <p style="overflow: auto; height: 64px; overflow-x: hidden;">
                          {{ product.description }}
                        </p>
                        <span><b>Price: </b>{{ product.price | currency:"£" }}</span>
                        <a href="" class="btn btn-sm btn-primary pull-right"  ng-click="cart.addItem(product.id, product.name, product.price, 1)">
                           add to cart
                        </a>
                        <a href="/products/{{ product.id }}" class="btn btn-sm btn-info pull-right" style="margin-right: 5px;" >
                           more info
                        </a>
                    </div>
                    <div class="panel-footer text-center">
                        <a ng-href="/images/products/{{product.id}}.jpg" target="_self" download="{{product.name}}"><span class="glyphicon glyphicon-download"></span></a>
                        <a href="#facebook"><span class="fa fa-facebook-square"></span></a>
                        <a href="#twitter"><span class="fa fa-twitter-square"></span></a>
                        <a href="#share"><span class="glyphicon glyphicon-share-alt"></span></a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </td>
  </tr>

  <tr class="well">
    <td class="tdRight" colspan="4">
      <a href="/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
         <i class="glyphicon glyphicon-shopping-cart" />
         <b>{{cart.getTotalCount()}}</b> items,
         <b>{{cart.getTotalPrice() | currency:"£"}}</b>
      </a>
    </td>
  </tr>
  </table>
</div>

<!-- <div class="container footer">
  <p>♥ from the Yeoman team</p>
</div> -->